# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    docker build . -t myapp:latest
  displayName: 'docker image build'

- script: |
    docker run -d --name test -p 9001:8080 myapp
  displayName: 'Run and test docker image'

- script: |
    echo "Running Trivy Scan..."
    docker run --rm \
      -v $(System.DefaultWorkingDirectory):/root/.cache/ \
      -v $(System.DefaultWorkingDirectory):/scan \
      aquasec/trivy image \
      --format sarif \
      --output /scan/trivy-report.sarif \
      --severity HIGH,CRITICAL \
      myapp:latest
  displayName: 'cleanup'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)/trivy-report.sarif'
    ArtifactName: 'trivy-report'
  displayName: "Publish Trivy Report"
